<!DOCTYPE html>
<html>
<head>
  <title>Cars List</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <header>
    <h1>Cars List</h1>
  </header>
  <div class="filter-form">
    <form action="/cars" method="get">
      <label for="model">Model:</label>
      <input type="text" id="model" name="model">
      
      <label for="minPrice">Min Price:</label>
      <input type="number" id="minPrice" name="minPrice">
      
      <label for="maxPrice">Max Price:</label>
      <input type="number" id="maxPrice" name="maxPrice">
      
      <label for="location">Location:</label>
      <input type="text" id="location" name="location">
      
      <button type="submit">Search</button>
    </form>
  </div>
  <div class="car-container">
    <% cars.forEach(car => { %>
      <div class="car-card">
        <div class="car-image">
          <% if (car.image) { %>
            <img src="data:image/jpeg;base64,<%= car.image.toString('base64') %>" alt="Car Image" />
          <% } else { %>
            <p>No Image Available</p>
          <% } %>
        </div>
        <div class="car-details">
          <h2><%= car.brand %></h2>
          <h2><strong>Model:</strong> <%= car.model %></h2>
          <p><strong>Year:</strong> <%= car.year %></p>
          <p><strong>Price:</strong> $<%= car.price %></p>
          <p><strong>Location:</strong> <%= car.location %></p>
          
          <!-- Buy Now Form -->
          <form action="/buyer_form" method="get">
            <input type="hidden" name="carId" value="<%= car.id %>">
            <button type="submit">Buy Now</button>
          </form>
        </div>
      </div>
    <% }); %>
  </div>
</body>
</html>
